:root {
  --main-bg-color: #F6F6FF;
  --primary-color: #a240cf;
  --secondary-color: #48235a;
}


* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

p {
  margin: 0;
  padding: 0;
}

/* LOCATION VIEW */
.location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em 0 0;
}

.location-header__back-icon {
  background-color: #fff;
  margin-left: 5%;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

.location-header__location-tag {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 2em 0 0 2em;
  text-align: right;
  -webkit-box-shadow: 0 4px 10px 3px rgba(0,0,0,0.06); 
  box-shadow: 0 4px 10px 3px rgba(162, 64, 207, 0.5);
  font-weight: 400;
}

.location-header__location-tag p {
  display: flex;
  padding: 0.5em 1em 0.5em 0;  
}

.location-header__location-tag span {
  padding: 2px 0.5em 0 1em;
}

.location-weather__container {
  width: 90%;
  overflow-x: scroll;
  margin: 2em auto 0;
  background-color: #fff;
  border-radius: 10px;
}

.location-weather__main {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  -webkit-box-shadow: 1px 4px 10px 3px rgba(246, 246, 255, 1); 
  box-shadow: 1px 4px 10px 3px  rgba(246, 246, 255,1);
}

.location-weather__main div {
  padding: 0 0.5em;
}

.location-weather__main .temperature {
  font-size: 2.5em;
  margin-top: 0.5em;
}

.location-weather__main .temperature-label {
  font-weight: 300;
}

.location-weather__main .icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.location-weather__main .icon {
  font-size: 2.5em;
}

.location-weather__main .icon-label {
  margin-top: 0.5em;
  font-weight: 300;
  font-size: 0.9em;
}

.location-weather__list-container {
  padding: 1em;
/*   max-height: 0px;
  visibility: hidden;
  overflow-y: hidden; */
}

.location-weather__list-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 0.5em 1em;
}

.location-weather__list-item .key {
  font-size: 0.9em;
  font-weight: 600;
}

/* DAILY FORECAST CARD*/

.daily-forecast__container{
  min-width: 200px;
  margin: 0 1em 0 0;
}

.daily-forecast__container .day {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1.2em;
}

.daily-forecast__card {
  margin-top: 1em;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
}

.daily-forecast__card .icon {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  font-size: 2em;
  border-bottom: 1px solid var(--primary-color);
}

.daily-forecast__card-content {
  margin-top: 1em;
}

.daily-forecast__card-content span {
  font-size: 0.8em;
}

.daily-forecast__card-content p {
  font-size: 2em;
  font-weight: 500;
}

/* MISC STYLES */
.primary-color__text {
  color: var(--primary-color);
}

.sub-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 2em auto 0;
  font-size: 1.2em;
  font-weight: 500;
}

.sidescroll-container {
  display: flex;
  width: 95%;
  margin:2em 0 0 5%;
  overflow-x: scroll;
  padding-bottom: 1em;
}

.standard-shadow {
  -webkit-box-shadow: 1px 3px 10px 2px rgba(0,0,0,0.06); 
  box-shadow: 1px 3px 10px 2px rgba(0,0,0,0.06);
}


.margin-bottom__1em {
  margin-bottom: 1em;
}

.margin-top__05em {
  margin-top: 0.5em;
}

